# IPython notebook checkpoints
.ipynb_checkpoints/
Machine Learning Classification Bootcamp/Naive Bayes Classifiers/Data/creditcard.csv
*.json
*.lock
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/autoload.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/autoload_classmap.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/autoload_namespaces.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/autoload_psr4.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/autoload_real.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/autoload_static.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/ClassLoader.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/composer/LICENSE
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/.editorconfig
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/code-coverage.sh
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-predict
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-predict-osx
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-predict.exe
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-scale
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-scale-osx
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-scale.exe
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-train
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-train-osx
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/bin/libsvm/svm-train.exe
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/data/glass.csv
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/data/iris.csv
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/data/wine.csv
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/LICENSE
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/README.md
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Association/Apriori.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Association/Associator.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Classifier.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/DecisionTree.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/DecisionTree/DecisionTreeLeaf.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Ensemble/AdaBoost.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Ensemble/Bagging.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Ensemble/RandomForest.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/KNearestNeighbors.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Linear/Adaline.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Linear/DecisionStump.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Linear/LogisticRegression.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/Linear/Perceptron.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/MLPClassifier.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/NaiveBayes.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/SVC.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Classification/WeightedClassifier.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/Clusterer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/DBSCAN.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/FuzzyCMeans.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/KMeans.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/KMeans/Cluster.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/KMeans/Point.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Clustering/KMeans/Space.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/CrossValidation/RandomSplit.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/CrossValidation/Split.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/CrossValidation/StratifiedRandomSplit.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/ArrayDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/CsvDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/Dataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/Demo/GlassDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/Demo/IrisDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/Demo/WineDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/FilesDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/MnistDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Dataset/SvmDataset.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/DimensionReduction/EigenTransformerBase.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/DimensionReduction/KernelPCA.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/DimensionReduction/LDA.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/DimensionReduction/PCA.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Estimator.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/DatasetException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/FileException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/InvalidArgumentException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/InvalidOperationException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/LibsvmCommandException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/MatrixException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/NormalizerException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Exception/SerializeException.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureExtraction/StopWords.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureExtraction/StopWords/English.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureExtraction/StopWords/French.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureExtraction/StopWords/Polish.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureExtraction/TfIdfTransformer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureExtraction/TokenCountVectorizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureSelection/ScoringFunction.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureSelection/ScoringFunction/ANOVAFValue.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureSelection/ScoringFunction/UnivariateLinearRegression.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureSelection/SelectKBest.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/FeatureSelection/VarianceThreshold.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/OneVsRest.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/Optimizer/ConjugateGradient.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/Optimizer/GD.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/Optimizer/Optimizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/Optimizer/StochasticGD.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/Predictable.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Helper/Trainable.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/IncrementalEstimator.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Comparison.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Distance.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Distance/Chebyshev.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Distance/Distance.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Distance/Euclidean.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Distance/Manhattan.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Distance/Minkowski.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Kernel.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Kernel/RBF.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/LinearAlgebra/EigenvalueDecomposition.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/LinearAlgebra/LUDecomposition.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Matrix.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Product.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Set.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/ANOVA.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/Correlation.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/Covariance.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/Gaussian.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/Mean.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/StandardDeviation.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Math/Statistic/Variance.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Metric/Accuracy.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Metric/ClassificationReport.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Metric/ConfusionMatrix.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/ModelManager.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction/BinaryStep.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction/Gaussian.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction/HyperbolicTangent.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction/PReLU.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction/Sigmoid.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/ActivationFunction/ThresholdedReLU.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Layer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Network.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Network/LayeredNetwork.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Network/MultilayerPerceptron.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Node.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Node/Bias.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Node/Input.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Node/Neuron.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Node/Neuron/Synapse.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Training/Backpropagation.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/NeuralNetwork/Training/Backpropagation/Sigma.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Pipeline.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Imputer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Imputer/Strategy.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Imputer/Strategy/MeanStrategy.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Imputer/Strategy/MedianStrategy.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Imputer/Strategy/MostFrequentStrategy.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Normalizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Preprocessing/Preprocessor.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Regression/LeastSquares.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Regression/Regression.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Regression/SVR.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/SupportVectorMachine/DataTransformer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/SupportVectorMachine/Kernel.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/SupportVectorMachine/SupportVectorMachine.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/SupportVectorMachine/Type.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Tokenization/NGramTokenizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Tokenization/Tokenizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Tokenization/WhitespaceTokenizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Tokenization/WordTokenizer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/src/Transformer.php
AI Machine Learning Complete Course - for PHP & Python Devs/PHP_AI/vendor/php-ai/php-ml/var/.gitkeep
Deep Learning A-Z - Hands-On Artificial Neural Networks/Unsupervised Deep Learning/Self Organizing Maps (SOM)/__pycache__/minisom.cpython-36.pyc
Deep Learning A-Z - Hands-On Artificial Neural Networks/Unsupervised Deep Learning/Self Organizing Maps (SOM)/__pycache__/minisom.cpython-37.pyc
*.pyc
